<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okg.hello.dao.mapper.UserMapper">
    <select id="queryAllUsers" resultType="com.okg.hello.dao.entity.User">
        SELECT userName,password
        FROM tb_user
    </select>
    <select id="queryUserById"
            parameterType="java.lang.Integer"
            resultType="com.okg.hello.dao.entity.User">
        SELECT userName,password
        FROM tb_user
        WHERE id = #{id}
    </select>
    <select id="queryUserByName"
            parameterType="java.lang.String"
            resultType="com.okg.hello.dao.entity.User">
        SELECT userName,password
        FROM tb_user
        WHERE userName = #{userName}
    </select>
    <insert id="addUser" parameterType="com.okg.hello.dao.entity.User">
        INSERT INTO tb_user(userName, password)
        VALUES (#{userName}, #{password})
    </insert>
    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE
        FROM tb_user
        WHERE id = #{id}
    </delete>
</mapper>